{{> list-tabs route='todos'}}
<table class="table align-middle">
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">項目</th>
            <th scope="col">狀態</th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {{#each lists}}
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.name}}</td>
            <td>
                {{#if this.isDone}}
                完成
                {{else}}
                未完成
                {{/if}}
            </td>
            <td></td>
            <td></td>
            <td>
                <form action="/lists/{{this.id}}?_method=PATCH" method="POST" style="display: inline;">
                    <button type="submit" class="btn btn-info">
                        狀態更改
                        </a>
                    </button>
                </form>
                <a class="btn btn-success" href="/lists/{{ this.id }}">detail</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>